[submodule "mint-blockchain-gui"]
	path = mint-blockchain-gui
	url = https://github.com/MintNetwork/mint-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
